* {
    --p-bg: #333;
    --s-bg: #555;
    --p-fg: #fff;
    --s-fg: #ccc;
    --accent: #da8388;
    --shadow: rgba(0, 0, 0, 0.5);
}

html, body {
    background-color: var(--p-bg);
    color: var(--p-fg);
    font-family: -apple-system, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

h1 {
    font-weight: 800;
    margin-top: 10vh;
}

#main-container {
    max-width: 800px;
    width: 90vw;
    margin: 0 auto;
    padding-bottom: 30px;
}

#main-container>div, #main-container>input, #main-container>h1 {
    width: 100%;
    margin-bottom: 50px;
}

#search-input {
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 0;
    border-bottom: solid 2px var(--accent);
    font-size: 18px;
    color: var(--p-fg);
}

#course-code {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: solid 1px var(--accent);
    font-size: 18px;
    color: var(--p-fg);
}

#course-name {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: solid 1px var(--accent);
    font-size: 18px;
    color: var(--p-fg);
}

#qr {
    display: block;
    background-color: transparent;
    outline: none;
    font-size: 18px;
    color: var(--accent);
}

#card-container {
    display: grid;
    grid-template-columns: 1fr;
}

#card-container.loaded {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
}

@media screen and (max-width: 450px) {
    #card-container.loaded {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
    }
}

.card {
    background-color: var(--s-bg);
    box-shadow: var(--shadow) 0 0 8px;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    animation: show 0.5s;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

@keyframes show {
    from {
        opacity: 0;
        margin-top: -5px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}

.card.hidden {
    display: none;
}

.card>.id-wrapper {
    position: relative;
    height: 0;
    top: 0;
    z-index: 1;
}

.card .id {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card .id::after {
    content: "";
    display: block;
    line-height: 0;
    padding-bottom: 100%;
}

.card .id>span {
    position: absolute;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 24px;
    line-height: 20px;
    font-weight: 400;
}

.card .id>span>span {
    font-weight: 800;
}

.card>.qrcode {
    height: 0;
    padding-bottom: 100%;
    background-color: var(--accent);
    overflow: hidden;
}

.card img {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    filter: blur(24px);
    transition: filter 0.2s;
}

.card .desc {
    color: var(--p-fg);
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
    padding: 4px;
    padding-right: 12px;
    height: 32px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .desc::after {
    display: block;
    content: "⟩";
    font-weight: 400;
    position: relative;
    margin-top: -24px;
    margin-right: 4px;
    line-height: 24px;
    font-size: 12px;
    text-align: right;
    color: var(--s-fg);
    transition: margin-right 0.1s;
}

.card:hover .id {
    display: none;
}

.card:hover .desc::after {
    margin-right: 0;
}

.card:hover {
    box-shadow: var(--shadow) 0 0 32px;
}

.card:hover img {
    filter: none;
}

#about-container {
    position: fixed;
    top: 10vh;
    height: 220px;
    width: 300px;
    left: calc(50vw - 150px);
    background-color: var(--p-bg);
    border-radius: 16px;
    padding: 24px;
    box-sizing: border-box;
    animation: show 0.2s;
    box-shadow: var(--shadow) 0 0 16px;
    font-weight: lighter;
}

#about-container::first-line {
    font-weight: normal;
    font-size: 20px;
}

#about-container>button {
    position: absolute;
    bottom: 20px;
    left: 0;
}

#about-container.hidden {
    display: none;
}

.toggle-button {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: calc(50% - 15px);
    border-radius: 15px;
    border: solid 2px var(--accent);
    padding: 0;
    background-color: transparent;
    color: var(--accent);
    cursor: pointer;
    font-size: 14px;
}

#login-wrapper {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
}

#login-button {
    display: inline-flex;
    flex-flow: row nowrap;
    height: 40px;
    width: 220px;
    border-radius: 8px;
    line-height: 36px;
    cursor: pointer;
    transition: background-color 0.1s;
}

#login-button>img {
    position: relative;
    top: 2px;
    left: 6px;
    height: 32px;
    border-radius: 16px;
    overflow: hidden;
}

#login-button>span {
    flex-grow: 1;
    text-align: center;
    margin-left: -6px;
}

.button {
    background-color: var(--p-bg);
    border: solid var(--accent) 2px;
    color: var(--accent);
    box-sizing: border-box;
}

.button:hover {
    background-color: var(--accent);
    color: var(--p-fg);
}

.submit-button {
    display: block;
    border: solid 2px var(--accent);
    padding: 3px;
    background-color: var(--accent);
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin: 0px;
}

.preview-button {
    display: block;
    border: solid 2px var(--accent);
    padding: 3px;
    background-color: white;
    color: var(--accent);
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 35px;
}

.img-container {
    margin: 0px;
}
