* {
    --p-bg: #333;
    --s-bg: #555;
    --p-fg: #fff;
    --s-fg: #ccc;
    --accent: #da8388;
    --shadow: rgba(0, 0, 0, 0.5);
}

html, body {
    background-color: var(--p-bg);
    color: var(--p-fg);
    font-family: -apple-system, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -ms-user-select: none;
    -moz-user-select: none;
    -moz-user-focus: ignore;
}

button:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: var(--p-fg);
}

h1 {
    font-weight: 800;
    margin-top: 10vh;
}

h2 {
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    margin-top: 48px;
}

h2::before {
    display: block;
    position: relative;
    content: " ";
    width: 100%;
    height: 100%;
    opacity: 0.2;
    padding-top: 40px;
    border-top: solid 1px var(--p-fg);
}

#main-container {
    max-width: 800px;
    width: 90vw;
    margin: 0 auto;
    padding-bottom: 30px;
}

#help-tooltip {
    display: inline-block;
    width: 20px;
    overflow-x: hidden;
    white-space: nowrap;
    color: var(--accent);
    cursor: default;
    transition: width 0.1s;
    vertical-align: bottom;
    line-height: 28px;
}

#help-tooltip:hover {
    width: 300px;
}

#sel-container {
    display: flex;
    flex-flow: row nowrap;
    padding-top: 15px;
    padding-bottom: 15px;
}

#sel-container input {
    display: none;
}

#sel-container input:checked + label {
    background-color: var(--accent);
    color: var(--p-fg);
}

#dep-code {
    width: 125px;
}

#course-code {
    width: 100px;
}

#course-name {
    width: 500px;
    max-width: 100%;
    text-overflow: ellipsis;
    margin-top: 20px;
}

#qr-container {
    display: table;
}

#qr-wrapper {
    display: table-cell;
    vertical-align: middle;
    padding-top: 25px;
}

#qr {
    display: none;
}

#img-wrapper {
    display: table-cell;
    padding-left: 35px;
}

#img-container {
    box-shadow: var(--shadow) 0 0 4px;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    text-align: center;
    animation: show 0.6s;
    padding: 10px;
}

@keyframes show {
    from {
        opacity: 0;
        margin-top: -10px;
        margin-left: -10px;
    }
    to {
        opacity: 1;
        margin-top: 0;
        margin-left: 0;
    }
}

#upload-text {
    padding: 4px;
}

#submit-button {
    color: var(--p-fg);
}

#submit-text {
    margin-top: 32px;
}

.button {
    background-color: var(--p-bg);
    transition: background-color 0.2s;
    border: solid var(--accent) 2px;
    color: var(--accent);
    padding: 4px 12px;
    font-size: 18px;
    margin: 0 4px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 16px;
}

.button:hover {
    background-color: var(--accent);
    color: var(--p-fg);
}

input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: solid 2px var(--accent);
    font-size: 20px;
    color: var(--p-fg);
    padding: 2px;
    margin-top: 8px;
}