* {
    --p-bg: #333;
    --s-bg: #555;
    --p-fg: #fff;
    --s-fg: #ccc;
    --accent: #da8388;
    --shadow: rgba(0, 0, 0, 0.5);
}

html, body {
    background-color: var(--p-bg);
    color: var(--p-fg);
    font-family: -apple-system, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

h1 {
    font-weight: 800;
    margin-top: 10vh;
}

button:focus {
    outline:0;
}

#main-container {
    max-width: 800px;
    width: 90vw;
    margin: 0 auto;
    padding-bottom: 30px;
}

#main-container>div, #main-container>input, #main-container>h1 {
    margin-bottom: 50px;
}

#header {
    display: inline;
}

#help-button {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    border-radius: 15px;
    border: solid 2px var(--accent);
    padding: 0;
    background-color: transparent;
    color: var(--accent);
    cursor: pointer;
}

#help-button:hover {
    color: white;
}

#help-close-button {
    width: 25px;
    height: 25px;
    align-self: end;
    border-radius: 15px;
    border: solid 2px var(--accent);
    padding: 0;
    background-color: transparent;
    color: var(--accent);
    cursor: pointer;
}

#help-close-button:hover {
    color: white;
}

#help-container {
    position: fixed;
    top: 10vh;
    height: 600px;
    width: 60%;
    left: calc(50vw - 30%);
    background-color: var(--p-bg);
    border-radius: 16px;
    padding: 24px;
    box-sizing: border-box;
    animation: show 0.2s;
    box-shadow: var(--shadow) 0 0 16px;
    font-weight: lighter;
    z-index: 3;
}

#help-container>button {
    margin: 30px 10px 10px calc(50% - 15px);
}

#help-container.hidden {
    display: none;
}

#help-container {
    overflow-x: scroll;
    overflow-y: scroll;
}

#help-container::-webkit-scrollbar {
    display: none;
}

#sel-container {
    display: flex;
    flex-flow: row nowrap;
    padding: 16px 0 0 0;
    margin-top: 20px;
}

#sel-container label {
    margin-right: 20px;
    background-color: transparent;
    transition: 0.3s;
    border: var(--accent) solid 2px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

#sel-container label:hover {
    background-color: var(--accent);
    color: white;
    box-shadow: var(--shadow) 0 0 20px;
}

#sel-container input {
    display: none;
}

#sel-container input:checked + label {
    background-color: var(--accent);
    color: var(--p-fg);
}

#dep-code-wrapper {
    display: inline;
}

#course-code-wrapper {
    display: inline;
}

#course-name-wrapper {
    margin-top: 20px;
}

#dep-code {
    width: 125px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: solid 2px var(--accent);
    font-size: 20px;
    padding: 6px;
    color: var(--p-fg);
}

#course-code {
    width: 100px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: solid 2px var(--accent);
    font-size: 20px;
    padding: 6px;
    color: var(--p-fg);
}

#course-name {
    width: 500px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: solid 2px var(--accent);
    font-size: 20px;
    padding: 6px;
    color: var(--p-fg);
}

#overrall-wrapper {
    display: inline-flex;
}

#qr-wrapper {
    margin-top: 10px;
    margin-right: 80px;
    margin-bottom: 80px;
}

.qr-container {
    background-color: var(--p-bg);
    transition: 0.3s;
    text-overflow: ellipsis;
    border: solid var(--accent) 2px;
    color: var(--accent);
    padding: 4px;
    border-radius: 3px;
    margin-right: 16px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

.qr-container:hover {
    box-shadow: var(--shadow) 0 0 20px;
    color: white;
    background-color: var(--accent);
}

.qr-container-contained {
    background-color: var(--accent);
    transition: 0.3s;
    text-overflow: ellipsis;
    border: solid var(--accent) 2px;
    color: white;
    padding: 4px;
    border-radius: 3px;
    margin-right: 16px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

.qr-container-contained:hover {
    box-shadow: var(--shadow) 0 0 20px;
}

#qr {
    width: 0.01px;
    height: 0.01px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}

#img-container {
    box-shadow: var(--shadow) 0 0 20px;
    max-width: 200px;
    border-radius: 6px;
    padding: 30px;
    text-align: center;
    transition: 0.3s;
}

#img-container:hover {
    box-shadow: var(--shadow) 0 0 30px;
}

#upload-text {
    margin-top: 3px;
}

#submit-button {
    margin-top: 10px;
    display: block;
    border: solid 2px var(--accent);
    border-radius: 3px;
    padding: 6px;
    font-size: 20px;
    transition: 0.3s;
    background-color: white;
    color: var(--accent);
    cursor: pointer;
}

#submit-button:hover {
    box-shadow: var(--shadow) 0 0 20px;
    background-color: var(--accent);
    color: white;
}

#submit-text {
    margin-top: 65px;
}
