* {
    --p-bg: #333;
    --s-bg: #555;
    --p-fg: #fff;
    --s-fg: #ccc;
    --accent: #da8388;
    --shadow: rgba(0, 0, 0, 0.4);
}

html, body {
    background-color: var(--p-bg);
    color: var(--p-fg);
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-size: 18px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
    margin: 0;
    min-height: 100%;
}

button:focus {
    outline:0;
}

a {
    display: inline;
    cursor: pointer;
    color: var(--p-fg);
    text-decoration: none;
}

input {
    background-color: transparent;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 0;
    font-size: 20px;
    line-height: 20px;
    transition: border-bottom 0.2s cubic-bezier(0.55, 0, 0.1, 1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
    box-shadow: 0 0 0 30px #333 inset;
    -webkit-text-fill-color: white;
}

#title {
    font-weight: 800;
    margin-top: 10vh;
}

#main-container {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    max-width: 800px;
    width: 90vw;
    margin: 0 auto;
    min-height: 100vh;
}

#request-wrapper {
    display: flex;
    position: absolute;
    margin: 0 auto;
    top: 27vh;
    left: 0;
    right: 0;
    height: 400px;
    width: 90vw;
    max-width: 700px;
    text-align: center;
    z-index: 1;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: var(--p-bg);
    padding: 36px;
    box-sizing: border-box;
    border-radius: 16px;
    box-shadow: var(--shadow) 0 2px 16px;
}

#request-wrapper > input[type="radio"] {
    display: none;
}

.hr {
    width: available;
    margin: 25px;
    border-bottom: solid 2px #555555;
}

#request-description {
    font-size: 21px;
}

.shake {
    animation: shake;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes shake {
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-2px);
    }
    20%, 40%, 60%, 80%, 100% {
        transform: translateX(2px);
    }
}

#term-container {
    display: flex;
    align-content: center;
    overflow-x: scroll;
    margin-left: 25px;
    margin-bottom: 25px;
}

#term-container::-webkit-scrollbar {
    display: none;
}

#term-container label {
    width: 140px;
    min-width: 140px;
    padding: 4px;
    border-radius: 16px;
    margin-right: 16px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.term-default label {
    border: solid var(--accent) 2px;
    color: var(--accent);
    background-color: var(--p-bg);
    transition: background-color 0.2s;
}

.term-default input:checked + label {
    background-color: var(--accent);
    color: var(--p-fg);
}

.term-error label {
    border: solid #FFFAA0 2px;
    color: #FFFAA0;
    background-color: var(--p-bg);
    transition: background-color 0.2s;
}

.term-error input:checked + label {
    background-color: #FFFAA0;
    border: solid #FFFAA0 2px;
    color: #737676;
}

#term-container input {
    display: none;
}

/* .course-container {
    margin-top: 18px;
} */

.course-input-default {
    border-bottom: solid 2px var(--s-bg);
    color: var(--p-fg);
}

.course-input-default:focus {
    border-bottom: solid 2px var(--accent);
}

.course-input-error {
    border-bottom: solid 2px #FFFAA0;
    color: var(--p-fg);
}

.course-input-error:focus {
    border-bottom: solid 2px #FBEC5D;
}

.course-dep-code {
    display: inline-block;
    text-align: center;
    width: 100px;
    margin-right: 20px;
}

.course-num-code {
    display: inline-block;
    text-align: center;
    width: 80px;
}

.course-lec-label {
    display: inline-block;
    font-size: 20px;
    margin-left: 3px;
    margin-right: 3px;
    color: #C0C0C0;
}

.course-lec-code {
    display: inline-block;
    text-align: center;
    width: 35px;
}

#submit-botton-container {
    margin-top: 20px;
}

.submit-button {
    display: inline-block;
    align-self: center;
    width: fit-content;
    padding: 4px 12px;
    font-size: 18px;
    margin-top: 35px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 16px;
    outline: none;
    transition: background-color 0.3s, width 2s, height 2s, transform 2s;
}

.submit-button-default {
    background-color: var(--p-bg);
    border: solid var(--accent) 2px;
    color: var(--p-fg);
}

.submit-button-default:hover {
    background-color: var(--accent);
    color: var(--p-fg);
}

.submit-button-error {
    background-color: var(--p-bg);
    border: solid #FFFAA0 2px;
    color: var(--p-fg);
}

.submit-button-error:hover {
    background-color: #FFFAA0;
    color: #737676;
}

#edit-button {
    display: none;
    background-color: var(--p-bg);
    border: solid #FFFAA0 2px;
    color: var(--p-fg);
}

#edit-button:hover {
    background-color: #FFFAA0;
    color: #737676;
}

#confirm-button {
    display: none;
    margin-left: 5px;
    background-color: var(--p-bg);
    border: solid #77DD77 2px;
    color: var(--p-fg);
}

#confirm-button:hover {
    background-color: #77DD77;
    color: #FFFFFF;
}

.button {
    background-color: var(--p-bg);
    transition: background-color 0.2s;
    border: solid var(--accent) 2px;
    color: var(--accent);
    padding: 4px 12px;
    font-size: 18px;
    margin: 0 4px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 16px;
    outline: none;
}

.button:hover {
    background-color: var(--accent);
    color: var(--p-fg);
}

#card-container {
    position: relative;
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr;
    text-align: center;
    min-height: 600px;
}

#main-container.loaded>#card-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
    top: 0;
}

@media screen and (max-width: 450px) {
    #main-container.loaded>#card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
    }
}

#main-container:not(.loaded) .deferred {
    display: none;
}

#add-button>div {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20px;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#add-button>div>div:first-child {
    font-size: 60px;
}

#about-container,
#cookies-container,
#help-container {
    position: fixed;
    background-color: var(--p-bg);
    border-radius: 16px;
    padding: 24px;
    box-sizing: border-box;
    animation: show 0.2s;
    overflow-y: scroll;
    box-shadow: var(--shadow) 0 2px 16px;
    font-weight: lighter;
    z-index: 3;
}

#about-container {
    top: 20vh;
    height: 450px;
    width: 600px;
    left: calc(50vw - 300px);
    padding-left: 39px;
    padding-right: 39px;
    font-size: 18px;
    font-weight: 400;
}

#cookies-container,
#help-container {
    top: 5vh;
    height: 79vh;
    width: 90vw;
    max-width: 1000px;
    left: 5vw;
    word-wrap: break-word;
}

@media screen and (min-width: 1111px) {
    #cookies-container,
    #help-container	{
        left: calc(50vw - 500px);
    }
}

#about-container::first-line {
    font-weight: normal;
    font-size: 20px;
}

#about-container>button {
    position: absolute;
    margin-left: calc(50% - 15px);
    bottom: 20px;
    left: 0;
}

#about-container.hidden,
#cookies-container.hidden,
#help-container.hidden {
    display: none;
}

#cookies-container>button,
#help-container>button {
    position: fixed;
    left: calc(50vw - 15px);
    top: calc(90vh - 115px);
}

#cookies-container,
#help-container {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 70px;
}

#cookies-page-container,
#help-page-container {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    max-width: 1000px;
}

#footer {
    position: relative;
    flex-grow: 1;
    bottom: 0;
    max-height: 100px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 30px 0 30px 0;
}

#footer>div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.small-button {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 8px;
    border-radius: 15px;
    border: solid 2px var(--accent);
    padding: 0;
    background-color: transparent;
    color: var(--accent);
    cursor: pointer;
}

.small-button>div {
    filter: grayscale(1) brightness(1.6) contrast(5) brightness(0.8) sepia(1)
            brightness(0.626) saturate(2.095) hue-rotate(295deg);
    /* The rest is workaround to chromium bug #551420 */
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
    line-height: 32px;
    text-align: center;
    padding: 0;
    margin-left: -3px;
    margin-top: -3px;
    transform: scale(0.5);
    font-size: 28px;
}

.small-button:hover>div {
    filter: grayscale(1) brightness(1.6) contrast(5);
}

.button {
    background-color: var(--p-bg);
    transition: background-color 0.2s;
    border: solid var(--accent) 2px;
    color: var(--accent);
    box-sizing: border-box;
}

.button:hover {
    background-color: var(--accent);
    color: var(--p-fg);
}

.load-ani {
    position: relative;
    width: 80px;
    height: 80px;
    margin: auto;
    left: 3px;
}

.load-ani div {
    position: absolute;
    width: 13px;
    height: 13px;
    margin-top: 5vh;
    border-radius: 50%;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.load-ani div:nth-child(1) {
    left: 8px;
    background: var(--p-fg);
    animation: load-ani-appear 0.6s infinite;
}
.load-ani div:nth-child(2) {
    left: 8px;
    background: var(--p-fg);
    animation: load-ani-slide 0.6s infinite;
}
.load-ani div:nth-child(3) {
    left: 32px;
    background: var(--accent);
    animation: load-ani-slide 0.6s infinite;
}
.load-ani div:nth-child(4) {
    left: 56px;
    background: var(--accent);
    animation: load-ani-disappear 0.6s infinite;
}

@keyframes load-ani-appear {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

@keyframes load-ani-slide {
    0% {transform: translate(0, 0);}
    100% {transform: translate(24px, 0);}
}

@keyframes load-ani-disappear {
    0% {transform: scale(1);}
    100% {transform: scale(0);}
}
