* {
    --p-bg: #333;
    --s-bg: #555;
    --p-fg: #fff;
    --s-fg: #ccc;
    --accent: #da8388;
    --shadow: rgba(0, 0, 0, 0.5);
}

html, body {
    background-color: var(--p-bg);
    color: var(--p-fg);
    font-family: -apple-system, Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    height: 100%;
}

h1 {
    font-weight: 800;
    margin-top: 10vh;
}

#main-container {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    max-width: 800px;
    width: 90vw;
    margin: 0 auto;
    min-height: 100%;
}

#login-wrapper {
    display: flex;
    position: absolute;
    margin: 0 auto;
    top: calc(50vh - 90px);
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--p-bg);
    width: 90vw;
    max-width: 400px;
    padding: 36px 0 36px 0;
    box-sizing: border-box;
    border-radius: 16px;
    box-shadow: var(--shadow) 0 0 16px;
}

#main-container.logged-in>#login-wrapper {
    display: none;
}

#login-button {
    display: inline-flex;
    flex-flow: row nowrap;
    margin-top: 20px;
    height: 40px;
    width: 220px;
    border-radius: 8px;
    line-height: 36px;
    cursor: pointer;
    transition: background-color 0.1s;
}

#login-button>img {
    position: relative;
    top: 2px;
    left: 6px;
    height: 32px;
    border-radius: 16px;
    overflow: hidden;
}

#login-button>span {
    flex-grow: 1;
    text-align: center;
    margin-left: -6px;
}

#search-input {
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0;
    border-bottom: solid 2px var(--accent);
    font-size: 18px;
    color: var(--p-fg);
}

#filter-container {
    position: sticky;
    top: 0;
    width: 100%;
    margin-left: -5vw;
    padding: 10px 5vw 10px 5vw;
    background-color: var(--p-bg);
    z-index: 2;
}

#term-container {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    padding: 16px 0 0 0;
}

#term-container::-webkit-scrollbar {
    display: none;
}

#term-container label {
    width: 140px;
    min-width: 140px;
    background-color: var(--p-bg);
    transition: background-color 0.2s;
    border: solid var(--accent) 2px;
    color: var(--accent);
    padding: 4px;
    border-radius: 16px;
    margin-right: 16px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

#term-container input:checked + label {
    background-color: var(--accent);
    color: var(--p-fg);
}

#term-container input {
    display: none;
}

#card-container {
    position: relative;
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr;
    text-align: center;
}

#main-container.loaded>#card-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
    top: 0;
}

@media screen and (max-width: 450px) {
    #main-container.loaded>#card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
    }
}

#main-container:not(.loaded) .deferred {
    display: none;
}

.card {
    background-color: var(--s-bg);
    box-shadow: var(--shadow) 0 0 8px;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    animation: show 0.5s;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

@keyframes show {
    from {
        opacity: 0;
        margin-top: -5px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}

.card.hidden {
    display: none;
}

.card>.id-wrapper {
    position: relative;
    height: 0;
    top: 0;
    z-index: 1;
}

.card .id {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card .id::after {
    content: "";
    display: block;
    line-height: 0;
    padding-bottom: 100%;
}

.card .id>span {
    position: absolute;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 24px;
    line-height: 20px;
    font-weight: 400;
}

.card .id>span>span {
    font-weight: 800;
}

.card>.qrcode {
    height: 0;
    padding-bottom: 100%;
    background-color: var(--accent);
    overflow: hidden;
}

.card img {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    filter: blur(24px);
    transition: filter 0.2s;
}

.card .desc {
    color: var(--p-fg);
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
    padding: 4px;
    padding-right: 12px;
    height: 32px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .desc::after {
    display: block;
    content: "⟩";
    font-weight: 400;
    position: relative;
    margin-top: -24px;
    margin-right: 4px;
    line-height: 24px;
    font-size: 12px;
    text-align: right;
    color: var(--s-fg);
    transition: margin-right 0.1s;
}

.card:hover .id {
    display: none;
}

.card:hover .desc::after {
    margin-right: 0;
}

.card:hover {
    box-shadow: var(--shadow) 0 0 32px;
}

.card:hover img {
    filter: none;
}

#add-button {
    position: relative;
    height: 0;
    padding-bottom: calc(100% + 32px);
}

#add-button>div {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20px;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#add-button>div>div:first-child {
    font-size: 60px;
}

#about-container {
    position: fixed;
    top: 10vh;
    height: 250px;
    width: 300px;
    left: calc(50vw - 150px);
    background-color: var(--p-bg);
    border-radius: 16px;
    padding: 24px;
    box-sizing: border-box;
    animation: show 0.2s;
    box-shadow: var(--shadow) 0 0 16px;
    font-weight: lighter;
    z-index: 3;
}

#about-container::first-line {
    font-weight: normal;
    font-size: 20px;
}

#about-container>button {
    position: absolute;
    margin-left: calc(50% - 15px);
    bottom: 20px;
    left: 0;
}

#about-container.hidden {
    display: none;
}

#footer {
    position: relative;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 30px 0 30px 0;
}

#footer>div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.small-button {
    display: block;
    width: 30px;
    height: 30px;
    margin: 8px;
    border-radius: 15px;
    border: solid 2px var(--accent);
    padding: 0;
    background-color: transparent;
    color: var(--accent);
    cursor: pointer;
    font-size: 14px;
}

.small-button>span {
    filter: grayscale(1) brightness(1.6) contrast(5) brightness(0.8) sepia(1)
            brightness(0.626) saturate(2.095) hue-rotate(295deg);
}

.small-button:hover>span {
    filter: grayscale(1) brightness(1.6) contrast(5);
}

.button {
    background-color: var(--p-bg);
    transition: background-color 0.2s;
    border: solid var(--accent) 2px;
    color: var(--accent);
    box-sizing: border-box;
}

.button:hover {
    background-color: var(--accent);
    color: var(--p-fg);
}
