* {
    --p-bg: #333;
    --s-bg: #555;
    --p-fg: #fff;
    --s-fg: #ccc;
    --accent: #da8388;
    --shadow: rgba(0, 0, 0, 0.4);
}

html, body {
    background-color: var(--p-bg);
    color: var(--p-fg);
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-size: 18px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
    margin: 0;
    min-height: 100%;
}

button:focus {
    outline:0;
}

a {
    display: inline;
    cursor: pointer;
    color: var(--accent);
    text-decoration: none;
}

input {
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0;
    border-bottom: solid 2px var(--s-bg);
    font-size: 18px;
    color: var(--p-fg);
    transition: border-bottom 0.2s cubic-bezier(0.55, 0, 0.1, 1);
}

input:focus {
    border-bottom: solid 2px var(--accent);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
    box-shadow: 0 0 0 30px #333 inset;
    -webkit-text-fill-color: white;
}

#title {
    font-weight: 800;
    margin-top: 10vh;
}

#main-container {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    max-width: 800px;
    width: 90vw;
    margin: 0 auto;
    min-height: 100vh;
}

#wechat-message {
    position: absolute;
    top: calc(50vh - 1em);
    left: 0;
    right: 0;
    text-align: center;
}

#login-wrapper {
    display: flex;
    position: absolute;
    margin: 0 auto;
    top: 30vh;
    left: 0;
    right: 0;
    height: 300px;
    text-align: center;
    z-index: 1;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: var(--p-bg);
    width: 90vw;
    max-width: 400px;
    padding: 36px;
    box-sizing: border-box;
    border-radius: 16px;
    box-shadow: var(--shadow) 0 2px 16px;
    animation: show 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

#login-wrapper > input[type="radio"] {
    display: none;
}

.auth-wrapper {
    display: none;
}

.auth-option-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    overflow: hidden;
    border-radius: 8px;
    border: solid var(--accent) 2px;
}

.auth-option {
    cursor: pointer;
    padding: 4px;
    flex-basis: 0;
    flex-grow: 1;
    border-bottom: solid var(--p-fg) 0;
    color: var(--accent);
    transition: background-color 0.1s;
}

.auth-option:first-child {
    border-right: solid var(--accent) 2px;
}

#email-login-radio:checked ~ #email-auth-wrapper,
#google-login-radio:checked ~ #google-auth-wrapper {
    display: block;
}

#email-login-radio:checked ~ .auth-option-wrapper > .auth-option[for="email-login-radio"],
#google-login-radio:checked ~ .auth-option-wrapper > .auth-option[for="google-login-radio"] {
    color: var(--p-fg);
    background-color: var(--accent);
}

#wechat-message.hidden {
    display: none;
}

#login-wrapper.hidden {
    display :none;
}

.hr {
    align-self: center;
    width: 80%;
    margin: 16px;
    border-bottom: solid 2px #555555;
}

#main-container.logged-in>#login-wrapper {
    display: none;
}

#email-auth-wrapper {
    width: 80%;
    align-self: center;
}

#email-auth-wrapper > div {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

#email-auth-wrapper > div > *:first-child {
    flex-grow: 1;
    flex-basis: 0;
}

#email-code-button, #email-login-button {
    display: inline-block;
    margin-left: 8px;
    width: 48px;
}

.auth-wrapper {
    padding-top: 36px;
}

#google-login-button {
    display: inline-flex;
    flex-flow: row nowrap;
    vertical-align: bottom;
    margin-left: 5px;
    height: 36px;
    width: 210px;
    border-radius: 8px;
    line-height: 32px;
    cursor: pointer;
    transition: background-color 0.1s;
}

#google-login-button>img {
    position: relative;
    left: 6px;
    height: 32px;
    border-radius: 16px;
    overflow: hidden;
}

#google-login-button>span {
    flex-grow: 1;
    text-align: center;
    margin-left: -6px;
}

#filter-container {
    position: sticky;
    top: 0;
    width: 100%;
    margin-left: -5vw;
    padding: 10px 5vw 10px 5vw;
    background-color: var(--p-bg);
    z-index: 2;
}

#term-container {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    padding: 16px 0 0 0;
}

#term-container::-webkit-scrollbar {
    display: none;
}

#term-container label {
    width: 140px;
    min-width: 140px;
    background-color: var(--p-bg);
    transition: background-color 0.2s;
    border: solid var(--accent) 2px;
    color: var(--accent);
    padding: 4px;
    border-radius: 16px;
    margin-right: 16px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

#term-container input:checked + label {
    background-color: var(--accent);
    color: var(--p-fg);
}

#term-container input {
    display: none;
}

#card-container {
    position: relative;
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr;
    text-align: center;
    min-height: 60vh;
}

#main-container.loaded>#card-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
    top: 0;
}

@media screen and (max-width: 450px) {
    #main-container.loaded>#card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
    }
}

#main-container:not(.loaded) .deferred {
    display: none;
}

.card {
    background-color: var(--s-bg);
    box-shadow: var(--shadow) 0 0 8px;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    animation: show 0.5s;
    cursor: pointer;
    transition: box-shadow 0.2s;
    position: relative;
    height: 0;
    padding-bottom: calc(100% + 32px);
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        margin-top: translateY(0);
    }
}

.card.hidden {
    display: none;
}

.card > .id-wrapper {
    position: relative;
    height: 0;
    top: 0;
    z-index: 1;
}

.card .id {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    color: var(--p-fg);
    transition: font-size 1s, color 1s;
    transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
}

.card .id::after {
    content: "";
    display: block;
    line-height: 0;
    padding-bottom: 100%;
    transition: padding-bottom 1s cubic-bezier(0.55, 0, 0.1, 1);
}

.card .id > span {
    position: absolute;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 20px;
    font-weight: 400;
}

.card .id > span > span {
    font-weight: 800;
}

.card > .qrcode {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--accent);
    overflow: visible;
    transform: translateY(0);
    transition: transform 1s;
    transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
}

.card .qrcode::before {
    content: "";
    position: absolute;
    background-color: var(--accent);
    width: 100%;
    padding-bottom: 120%;
    left: 0;
    transform: translateY(-90%);
}

/*.card>.qrcode:empty::before {
    content: "请稍等...";
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: calc(50% - 0.5em);
}*/

.card canvas {
    display: none;
}

.card img {
    transform: translateY(-100%);
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.card .desc {
    color: var(--p-fg);
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
    padding: 4px;
    padding-right: 12px;
    height: 32px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card:hover .id {
    font-size: 18px;
    color: var(--p-bg);
}

.card:hover .id::after {
    padding-bottom: 210%;
}

.card:hover {
    margin-right: 0;
    box-shadow: var(--shadow) 0 0 32px;
}

.card:hover > .qrcode {
    transform: translateY(100%);
}

#add-button>div {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20px;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#add-button>div>div:first-child {
    font-size: 60px;
}

#about-container,
#cookies-container,
#help-container {
    position: fixed;
    background-color: var(--p-bg);
    border-radius: 16px;
    padding: 24px;
    box-sizing: border-box;
    animation: show 0.2s;
    overflow-y: scroll;
    box-shadow: var(--shadow) 0 2px 16px;
    font-weight: lighter;
    z-index: 3;
}

#about-container {
    top: 20vh;
    height: 450px;
    width: 400px;
    left: calc(50vw - 200px);
    padding-left: 39px;
    padding-right: 39px;
    font-size: 18px;
    font-weight: 400;
}

#cookies-container,
#help-container {
    top: 5vh;
    height: 79vh;
    width: 90vw;
    max-width: 1000px;
    left: 5vw;
    word-wrap: break-word;
}

@media screen and (min-width: 1111px) {
  #cookies-container,
	#help-container	{
        left: calc(50vw - 500px);
    }
}

#about-container::first-line {
    font-weight: normal;
    font-size: 20px;
}

#about-container>button {
    position: absolute;
    margin-left: calc(50% - 15px);
    bottom: 20px;
    left: 0;
}

#about-container.hidden,
#cookies-container.hidden,
#help-container.hidden {
    display: none;
}

#cookies-container>button,
#help-container>button {
    position: fixed;
    left: calc(50vw - 15px);
    top: calc(90vh - 100px);
}

#cookies-container,
#help-container {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 70px;
}

#cookies-page-container {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    max-width: 1000px;
}

#footer {
    position: relative;
    flex-grow: 1;
    bottom: 0;
    max-height: 100px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 30px 0 30px 0;
}

#footer>div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.small-button {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 8px;
    border-radius: 15px;
    border: solid 2px var(--accent);
    padding: 0;
    background-color: transparent;
    color: var(--accent);
    cursor: pointer;
}

.small-button>div {
    filter: grayscale(1) brightness(1.6) contrast(5) brightness(0.8) sepia(1)
            brightness(0.626) saturate(2.095) hue-rotate(295deg);
    /* The rest is workaround to chromium bug #551420 */
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
    line-height: 32px;
    text-align: center;
    padding: 0;
    margin-left: -3px;
    margin-top: -3px;
    transform: scale(0.5);
    font-size: 28px;
}

.small-button:hover>div {
    filter: grayscale(1) brightness(1.6) contrast(5);
}

.button {
    background-color: var(--p-bg);
    transition: background-color 0.2s;
    border: solid var(--accent) 2px;
    color: var(--accent);
    box-sizing: border-box;
}

.button:hover {
    background-color: var(--accent);
    color: var(--p-fg);
}

.load-ani {
    position: relative;
    width: 80px;
    height: 80px;
    margin: auto;
    left: 4px;
}

.load-ani div {
    position: absolute;
    width: 13px;
    height: 13px;
    margin-top: 5vh;
    border-radius: 50%;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.load-ani div:nth-child(1) {
    left: 8px;
    background: var(--p-fg);
    animation: load-ani-appear 0.6s infinite;
}
.load-ani div:nth-child(2) {
    left: 8px;
    background: var(--p-fg);
    animation: load-ani-slide 0.6s infinite;
}
.load-ani div:nth-child(3) {
    left: 32px;
    background: var(--accent);
    animation: load-ani-slide 0.6s infinite;
}
.load-ani div:nth-child(4) {
    left: 56px;
    background: var(--accent);
    animation: load-ani-disappear 0.6s infinite;
}

@keyframes load-ani-appear {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

@keyframes load-ani-slide {
    0% {transform: translate(0, 0);}
    100% {transform: translate(24px, 0);}
}

@keyframes load-ani-disappear {
    0% {transform: scale(1);}
    100% {transform: scale(0);}
}
